/* src/components/Header.module.css */

.header {
  background-color: transparent;
  width: 100%;
  padding: 1.5rem 0;
  margin-bottom: 0; /* Reduced margin */
}

.header h1 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--header-text-color);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .header {
    padding: 1rem 0; /* Less vertical padding */
  }
  .header h1 {
    font-size: 1.8rem; /* Smaller title */
  }
}